# Ignore all downloaded packages from npm
# This is the most important rule!
node_modules/

# Ignore system files from macOS
.DS_Store

# Ignore log files that might be generated
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore environment files
# We use Netlify's UI for this, but it's a critical best practice
.env
.env.local

# Local Netlify folder
.netlify

.python-version

# Ignore generated build artifacts
public/css/style.css